[Unit]
Description=UDP Capture Service for x123 debug data
PartOf=det-parent.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=det
WorkingDirectory=/home/det/umn-detector-code/lab-scripts/
ExecStart=udp_capture -m 64000 -T 300 -t 300 -l 61009 -b "data/x123-debug" -p 'gzip "$out_file"; mv "$out_file.gz" downlink'

[Install]
WantedBy=multi-user.target