[Unit]
Description=Calls det-controller to start DET service
PartOf=det-parent.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=det
EnvironmentFile=/etc/systemd/system/detvars.env
WorkingDirectory=/home/det/umn-detector-code/lab-scripts/
ExecStart=det-controller

[Install]
WantedBy=multi-user.target
