[Unit]
Description=UDP Capture Service for HaFX science data from m5 detector
PartOf=det-parent.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=det
WorkingDirectory=/home/det/umn-detector-code/lab-scripts/
ExecStart=udp_capture -m 491520 -T 300 -t 300 -l 61004 -b "data/hafx-time-slice-m5" -p 'gzip "$out_file"; python rebinner/file_based_rebinner.py time+energy "$out_file.gz"; mv "$(dirname $out_file)/time+energy-$(basename $out_file).gz" downlink/rebinned; mv "$out_file.gz" downlink;'

[Install]
WantedBy=multi-user.target