[Unit]
Description=UDP Capture Service for hafx debug data for m1 detector
PartOf=det-parent.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=det
WorkingDirectory=/home/det/umn-detector-code/lab-scripts/
ExecStart=udp_capture -m 60000 -T 300 -t 300 -l 61003 -b "data/hafx-debug-m1" -p 'gzip "$out_file"; mv "$out_file.gz" downlink'

[Install]
WantedBy=multi-user.target